.playButton {
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 35px;
}

.circle_button {
    position: relative;
    left: 5px;
    bottom: 3px;
    font-size: 20px !important;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
}

.table-wrapper table {
    width: 100%;
}

table + table {
    display: block;
    flex: 1;
    overflow-y: auto;
}

table + table tbody {
    width: 100%;
    display: table;
}

td {
    white-space: nowrap;
    overflow: hidden
}

.fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.currentSong {
    background: #4B95E5 !important;
    color: #EDF4FC;
}

.table-striped tr:active:nth-child(even), tr:active {
    background-color: #C2D1E0;
    color: #222;
}

.player {
    font-size: 24px;
    margin: 0px 20px 0px 20px;
    height: 15px;
}

.btn-active {
    color: #fff;
    border: 1px solid transparent;
    background-color: #6d6c6d;
    background-image: none
}

.btn-active .icon {
    color: #fff;
}

#progress_song {
    font-size: 12px;
    height: 5px;
    padding-left: 0px;
}

#progress_song li {
    display: inline;
    list-style-type: none;
    padding-right: 5px;
    padding-left: 5px;
}

.volumen_range {
    padding: 5px;
    border: 0px !important;
    background: transparent;
}

.song_title {
    padding-left: 10px;
    font-size: 18px;
}

.menu {
    width: 171px;
    backdrop-filter: blur(4px);
    background: transparent;
    color: #fff;
    position: absolute;
    z-index: 999999;
    border-radius: 0px 8px 8px 8px;
    box-shadow: 0 0 5px black;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul a {
    text-decoration: none;
}

ul > li:first-child {
    border-radius: 8px 8px 0px 0px;
}

ul > li:last-child {
    border-radius: 0px 0px 8px 8px;
}

.menu ul li {
    padding: 3%;
    padding-left: 20px;
    color: #111;
}

.menu ul li:hover {
    background-color: #8e909266;
}

.ytdownloadercontainer {
    margin: 0 auto;
    max-width: 330px;
    margin-top: 100px;
    text-align: center;
}

.progress {
    padding-left: 90px;
}

.back {
    font-size: 13px;
    cursor: pointer;
    padding-left: 8px;
    padding-top: 5px;
    position: relative;
    top: 115px;
}

#toggleLyrics {
    position: absolute;
    right: 12px;
    bottom: 12px;
}

.song_selected {
    background-color: #C2D1E0 !important;
    color: #222;
}

.selected {
    border: 1px solid white;
    border-style: dashed;
}

.text-lyrics {
    overflow-x: hidden;
    overflow-y: auto;
    color: black;
    text-align: center
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

img {
    -webkit-user-drag: none;
}

.tool {
    padding: 0px 0px 0px 5px;
}

/*Styling input range*/
input[type=range] {
    width: 100px;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 6px;
    background: #444;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid black;
    background: #ccc;
    margin-top: -5px;
}

input[type=range]:focus {
    outline: none;
}

@media screen and (max-height: 100px) {
    .toolbar-header {
        display: none;
    }

    .window-content {
        display: none;
    }

    input[type=range] {
        -webkit-appearance: none;
        width: 90px;
    }

    input[type=range]::-webkit-slider-runnable-track {
        height: 5px;
        background: #444;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: 1px solid black;
        background: #ccc;
        margin-top: -5px;
    }

    input[type=range]:focus {
        outline: none;
    }

    .maximize {
        display: block !important;
        position: absolute;
        bottom: 0;
        right: 0px;
    }

    progress {
        width: 80% !important;
    }

    .song_title {
        font-size: 11px;
    }

    #toggleLyrics {
        display: none;
    }
}
