.playButton{
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 35px;
}
.circle_button{
  position: relative;
  left: 5px;
  bottom: 3px;
  font-size: 20px !important;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
}
.table-wrapper table {
  width: 100%;
}
table + table {
  display: block;
  flex: 1;
  overflow-y: auto;
}
table + table tbody {
  width: 100%;
  display: table;
}

td {
  white-space:nowrap;
  overflow:hidden
}

.fill {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.player{
  font-size: 24px;
  margin: 0px 20px 0px 20px;
  height: 15px;
}

.active{
  color:#fff;
  border:1px solid transparent;
  background-color:#6d6c6d;
  background-image:none
}

.active .icon{
  color: #fff;
}

#progress_song{
  font-size: 12px;
  height: 5px;
  padding-left: 0px;
}

#progress_song li{
  display: inline;
  list-style-type: none;
  padding-right: 5px;
  padding-left: 5px;
}

.song_title{
  padding-left: 10px;
  font-size: 18px;
}

.ytdownloadercontainer{
  margin: 0 auto;
  max-width: 330px;
  margin-top: 100px;
  text-align: center;
}

.progress{
  padding-left: 90px;
}

.back{
  font-size: 13px;
  cursor: pointer;
  padding-left: 8px;
  padding-top: 5px;
  position: relative;
  top: 115px;
}
